.column-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
}

.temp-planet {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 124, 16);
    border-radius: 50%;
}